# Entorno virtual de Python
venv/
ENV/
env/

# Caché de Python y Pytest
__pycache__/
*.pyc
.pytest_cache/

# Base de datos local (SQLite)
*.db
*.sqlite3

# Carpetas de datos y reportes locales
reports/

# Archivos de configuración del editor
.vscode/
.idea/